.premier h1{
    text-align: center;
    color: blue;
}
.deuxieme h1{
    text-align: center;
    color: rgb(194, 35, 130);
}
.span1{
    color: yellow;

}
.span2{
color: rgb(88, 31, 210);
}
.div1{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 50%;

}
.div11{
    
}
.div2{
    width: 150px;
    color: violet;
    height: 200px;
    background-color: violet;
    margin-top: 10px;
    margin-left: 120px;

;

}
.div3{
    width: 120px;
    height: 50px;
    background-color: violet;
    margin-top: -180px;

}
.div4{
    width: 120px;
    height: 50px;
    background-color: violet;
    margin-top: -50px;
    margin-left: 270px;

}